#resume main {
  margin: 0 auto;
  max-width: calc(8.5in);
  @media only screen and (min-width: $mq1) {
  height: calc(11in);
  overflow: hidden;
  }
}

@media print {
  @page {
    size: 8.5in 11in;
    margin: 0mm !important;
    padding: 0mm !important;
    margin-bottom: 0mm !important;
  }
}