// example styles to know it's working
body {
  background: #ff91af;
  text-align: center;
  font-family: sans-serif;
  section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  img {
    width: 25%;
  }
  a {
    display: block;
    margin: 5px;
    color: #fff;
  }
}
