@import '../../styles/reset.css';

html {
  scroll-behavior: smooth;
}

body {
  background-image: url(../../images/textures/bg2.gif);
  font-family: sans-serif;
}

main {
  margin: 20px auto;
  max-width: 900px;
}
header, section, nav ul li a {
  background: #bac400;
  background-image: url(../../images/textures/bg2.jpg);
  background-blend-mode: lighten;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: #00000099 0px 10px 20px;
}
header {
  display: flex;
  justify-content: space-between;
}
nav ul {
  display: flex;
}
nav ul li a{
  margin-right: 10px;
  padding: 5px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  filter: hue-rotate(3rad);
  color: #000;
  font-family: monospace;
  box-shadow: none;
  box-shadow: #00000066 0px 5px 10px;
}
nav ul li a:hover{
  filter: hue-rotate(2.5rad);
}
nav ul li:last-of-type {
  margin-right: 0px;
}

p {
  margin-bottom: 10px;
}
p.tab {
  padding-left: 20px;
}
em {
  font-weight: 900;
  text-decoration: underline;
}
a {
  color: #00f;
}

h1, h2, h3 {
  font-weight: 900;
  color: #000;
  -webkit-text-stroke: 1px #ff5500;
  text-transform: uppercase;
}
h1 {
  font-size: 32px;
  text-align: center;
  padding-top: 10px;
}
h2 {
  font-size: 26px;
  margin-bottom: 10px;
}
h3 {
  font-size: 20px;
  margin-bottom: 5px;
}

span, .code {
  background-color: #441b00dd;
  color: #e8ff18;
  padding: 0px 5px;
  border-radius: 5px;
  font-family: monospace;
}
.code {
  padding: 5px;
}

.code span {
  color: #666;
  background: none;
}
