@import './stylePartials/meyerReset.scss';
@import './stylePartials/colours.scss';
@import './stylePartials/typography.scss';
@import './stylePartials/animations.scss';
@import './stylePartials/intro.scss';

body {
  background: $background;
  position: relative;
}

.wrapper {
  padding: 10rem 2rem;
  max-width: 980px;
  margin: 0 auto;
  border-bottom: solid 1px darken($primary, 40%);
}

// section {
//   display: block;
//   padding: 50px;
//   border-bottom: solid 1px $primary;
//   background: #000;
//   > * {
//     max-width: 980px;
//     margin: 0 auto;
//   }
//   h2 {
//     margin-bottom: 20px;
//   }
//   p {
//     margin-bottom: 20px;
//   }
// }

#about {
  p span {
    color: $background;
  }
}

#skills {
  ul {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 0;
    li {
      display: inline-block;
      text-align: center;
      width: 25%;
      margin-bottom: 3rem;
      @media screen and (max-width: 550px) {
        width: 33.333%;
      }
      svg {
        display: block;
        width: 5rem;
        fill: $primary;
        margin: 0 auto;
        position: relative;
        margin-bottom: 1rem;
      }
    }
  }
}

#contact {
  .wrapper {
    border-bottom: 0px;
  }
  p {
    text-align: center;
    font-size: 1.2rem;
    &:first-of-type {
      font-size: 2.5rem;
      text-transform: uppercase;
    }
    &:last-of-type {
      color: darken($primary, 60%);
    }
  }
  ul {
    text-align: center;
    margin: 2rem 0;
    li {
      display: inline-block;
      margin-right: 2rem;
      position: relative;
      a svg {
        width: 3.5rem;
      }
      a:focus {
        background-color: $background;
        svg {
          fill: $secondary;
        }
      }
    }
  }
}
