button#disableAnim {
  z-index: 999;
  color: var(--primary);
  background: transparent;
  border: 0;
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  padding: 0.5rem;
  filter: drop-shadow(0px 0px 5px var(--primary));
}
@media screen and (max-width: 850px) {
  button#disableAnim {
    left: unset;
  }
}
button#disableAnim:hover,button#disableAnim:focus {
  color: #000;
  background: var(--primary);
}
@media screen and (prefers-reduced-motion: reduce) {
  button#disableAnim {
    display: none;
  }
}

#about a {
  color: #fff;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  fill: #fff;
}
#about a:hover {
  color: var(--primary);
  fill: var(--primary);
  transition: all 0.2s ease-in-out;
  filter: drop-shadow(0px 0px 2px var(--primary));
}
#about :focus:hover {
  color: #000;
  -webkit-text-stroke: 1px #000;
}
#about {
  color: #fff;
  font-family: "Open Sans","Helvetica","Arial",sans-serif;
  background: #000;
  position: relative;
}
#about #intro {
  width: 100%;
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
#about #intro::before {
  content: '';
  width: 100%;
  height: 100vh;
  position: absolute;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5) 25%, transparent 25%, transparent 50%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5) 75%, transparent 75%, transparent 100%);
  background-size: 4px 4px;
  z-index: 2;
  pointer-events: none;
}
#about #intro::after {
  content: '';
  width: 100%;
  height: 100vh;
  position: absolute;
  background: radial-gradient(circle, rgba(0,0,0,0) 40%, #000 100%);
  z-index: 10;
  pointer-events: none;
}
#about nav {
  position: absolute;
  top: 8rem;
  width: 100%;
  z-index: 20;
  padding-bottom: 1rem;
  padding: 0 2rem;
  max-width: 450px;
}
#about nav ul li {
  display: inline-block;
}
#about nav ul li:not(:last-of-type) {
  margin-right: 3.5rem;
}
@media screen and (max-height: 370px) {
  #about nav {
    position: static;
  }
}
#about h1 {
  color: #fff;
  font-family: "Press Start 2P","Consolas",sans-serif;
  font-size: 4.5rem;
  margin-bottom: 1rem;
  line-height: 1.3;
  padding: 0px 2rem;
}
#about h2 {
  font-size: 3rem;
  font-family: var(--AnimalCrossingWW);
  font-size: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  line-height: 1;
  color: var(--primary);
  filter: drop-shadow(0px 0px 5px var(--primary));
  position: relative;
  opacity: 0.8;
  margin: 0;
  z-index: 20;
}
