#contactCard {
  max-width: 400px;
  font-size: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
}
#contactCard h2 {
  z-index: 20;
  position: relative;
  font-size: 30px !important;
}
#contactCard ul {
  z-index: 20;
  position: relative;
  margin-top: 2rem;
  margin: 2rem auto;
  max-width: 300px;
}
#contactCard ul li {
  margin-bottom: 2rem;
  border-radius: 2rem;
  background: url(../assets/images/textures/noise.jpg);
  animation: 1s infinite anim-static;
}
#contactCard ul li:last-of-type {
  margin-bottom: 0;
}
#contactCard ul li a {
  display: block;
  font-size: 30px;
  text-decoration: none;
}
#contactCard ul li a:hover {
  color: var(--primary) !important;
  text-decoration: none !important;
}

*::selection, *:focus {
  background: var(--primary);
  color: #000 !important;
  text-shadow: none !important;
}
*:focus:hover {
  color: #000 !important;
  -webkit-text-stroke: 1px #000 !important;
}
