/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'AnimalCrossingWW';
  src: url(../fonts/animal-crossing.woff) format("woff2"), url(./fonts/animal-crossing.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
:root {
  --primary: #00f428;
  --AnimalCrossingWW: "AnimalCrossingWW", "Open Sans", monospace;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.6;
}
*::selection, *:focus {
  background: var(--primary);
  color: #000;
}
*:focus:hover {
  color: #000;
  -webkit-text-stroke: 1px #000;
}
* {
  transition: all 0.2s ease-in-out;
}
@keyframes anim-glowFlicker {
  0% {
    filter: drop-shadow(0px 0px 15px #00f428);
  }
  100% {
    filter: drop-shadow(0px 0px 5px #fff);
  }
}
.anim-glowFlicker {
  animation: anim-glowFlicker 0.01s ease infinite;
}
@media screen and (prefers-reduced-motion: reduce) {
  .anim-glowFlicker {
    animation-iteration-count: 0;
    filter: drop-shadow(0px 0px 10px #fff);
  }
}
@keyframes anim-glowFlicker-alt {
  0% {
    filter: drop-shadow(0px 0px 15px #00f428);
  }
  100% {
    filter: drop-shadow(0px 0px 5px #00f428);
  }
}
.anim-glowFlicker-alt {
  animation: anim-glowFlicker-alt 0.01s ease infinite;
}
@media screen and (prefers-reduced-motion: reduce) {
  .anim-glowFlicker-alt {
    animation-iteration-count: 0;
    filter: drop-shadow(0px 0px 10px #00f428);
  }
}
@keyframes anim-blink {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.anim-blink {
  animation: anim-blink 0.5s infinite;
}
@media screen and (prefers-reduced-motion: reduce) {
  .anim-blink {
    display: none;
  }
}
@keyframes anim-static {
  0%, 100% {
    background-position: 0 0;
  }
  10% {
    background-position: -5% -10%;
  }
  20% {
    background-position: -15% 5%;
  }
  30% {
    background-position: 7% -25%;
  }
  40% {
    background-position: 20% 25%;
  }
  50% {
    background-position: -25% 10%;
  }
  60% {
    background-position: 15% 5%;
  }
  70% {
    background-position: 0% 15%;
  }
  80% {
    background-position: 25% 35%;
  }
  90% {
    background-position: -10% 10%;
  }
}
.anim-static {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  display: block;
  background: url(../images/whitenoise.png);
  animation: 0.09s infinite anim-static;
  opacity: 0.1;
  pointer-events: none;
  z-index: 5;
}
@media screen and (prefers-reduced-motion: reduce) {
  .anim-static {
    animation-iteration-count: 0 !important;
    animation: 0s !important;
  }
}
.anim-bands {
  --one: #070012;
  --two: #000917;
  background-image: linear-gradient(90deg, #000 25%, var(--one) 25%, var(--one) 31.25%, var(--two) 43.75%, var(--two) 50%, #000 50%, #000 75%, var(--one) 75%, var(--one) 76.25%, var(--two) 93.75%, var(--two) 100%);
  background-size: 32px 32px;
  animation: 0.01s infinite anim-static;
}
@media screen and (prefers-reduced-motion: reduce) {
  .anim-bands {
    animation-iteration-count: 0 !important;
    animation: 0s !important;
  }
}
.disableAnimation .anim-static, .disableAnimation #intro {
  animation-iteration-count: 0 !important;
  animation: 0s !important;
}
.disableAnimation .anim-glowFlicker {
  animation-iteration-count: 0;
  filter: drop-shadow(0px 0px 5px #fff);
}
.disableAnimation .anim-blink {
  display: none;
}
button#disableAnim {
  z-index: 999;
  color: var(--primary);
  background: transparent;
  border: 0;
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  padding: 0.5rem;
  filter: drop-shadow(0px 0px 5px var(--primary));
}
@media screen and (max-width: 850px) {
  button#disableAnim {
    left: unset;
  }
}
button#disableAnim:hover, button#disableAnim:focus {
  color: #000;
  background: var(--primary);
}
@media screen and (prefers-reduced-motion: reduce) {
  button#disableAnim {
    display: none;
  }
}
#about a {
  color: #fff;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  fill: #fff;
}
#about a:hover {
  color: var(--primary);
  fill: var(--primary);
  transition: all 0.2s ease-in-out;
  filter: drop-shadow(0px 0px 2px var(--primary));
}
#about :focus:hover {
  color: #000;
  -webkit-text-stroke: 1px #000;
}
#about {
  color: #fff;
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  background: #000;
  position: relative;
}
#about #intro {
  width: 100%;
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
#about #intro::before {
  content: '';
  width: 100%;
  height: 100vh;
  position: absolute;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 75%, transparent 75%, transparent 100%);
  background-size: 4px 4px;
  z-index: 2;
  pointer-events: none;
}
#about #intro::after {
  content: '';
  width: 100%;
  height: 100vh;
  position: absolute;
  background: radial-gradient(circle, rgba(0, 0, 0, 0) 40%, #000 100%);
  z-index: 10;
  pointer-events: none;
}
#about nav {
  position: absolute;
  top: 8rem;
  width: 100%;
  z-index: 20;
  padding-bottom: 1rem;
  padding: 0 2rem;
  max-width: 450px;
}
#about nav ul li {
  display: inline-block;
}
#about nav ul li:not(:last-of-type) {
  margin-right: 3.5rem;
}
@media screen and (max-height: 370px) {
  #about nav {
    position: static;
  }
}
#about h1 {
  color: #fff;
  font-family: "Press Start 2P", "Consolas", sans-serif;
  font-size: 4.5rem;
  margin-bottom: 1rem;
  line-height: 1.3;
  padding: 0px 2rem;
}
#about h2 {
  font-size: 3rem;
  font-family: var(--AnimalCrossingWW);
  font-size: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  line-height: 1;
  color: var(--primary);
  filter: drop-shadow(0px 0px 5px var(--primary));
  position: relative;
  opacity: 0.8;
  margin: 0;
  z-index: 20;
}
#resume {
  margin: 0 auto;
  max-width: calc(8.5in);
}
@media print {
  body {
    margin: 0mm !important;
  }
  .sideBtn {
    display: none;
  }
  @page {
    size: 8.5in 11in;
    margin: 0mm !important;
    padding: 0mm !important;
  }
}
#resume {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  background: #666;
}
#resume .sideBtn {
  color: #bbb;
  font-size: 1.2rem;
  background-color: #333;
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px;
}
#resume a.sideBtn {
  color: var(--primary);
  top: 50px;
}
#resume .sideBtn:hover {
  opacity: 1;
}
@media only screen and (max-width: 1145px) {
  #resume .sideBtn {
    opacity: 0;
  }
}
#resume svg {
  padding-bottom: 0.4rem;
  vertical-align: middle;
  text-align: left;
  margin-left: 0.5rem;
}
#resume h1 {
  font-size: 4.2rem;
  font-weight: 600;
  margin-top: 0.8rem;
}
#resume h2 {
  font-style: italic;
  margin-left: 2rem;
  color: var(--primary);
  fill: var(--primary);
}
@media only screen and (max-width: 575px) {
  #resume h2 {
    margin-left: 0;
  }
}
#resume h3 {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1rem;
  background: #000;
  display: inline-block;
  color: #fff;
  padding: 0 1rem;
}
#resume h4 {
  font-size: 1.4rem;
  font-weight: 900;
}
#resume h4 span {
  color: #666;
  font-weight: normal;
  font-style: italic;
  font-size: 1.2rem;
}
#resume main {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #fff;
}
@media only screen and (min-width: 816px) {
  #resume main {
    height: calc(11in);
    overflow: hidden;
  }
}
#resume header, #resume #profile, #resume #work {
  padding: 2rem;
}
#resume header {
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  color: #fff;
  fill: #fff;
  background: #000;
}
@media only screen and (max-width: 650px) {
  #resume header {
    margin-bottom: 2rem;
  }
}
@media only screen and (max-width: 575px) {
  #resume header {
    display: block;
    text-align: center;
    padding-bottom: 4rem;
  }
  #resume header svg {
    display: none;
  }
}
#resume header ul {
  text-align: right;
  font-size: 1.4rem;
}
@media only screen and (max-width: 575px) {
  #resume header ul {
    text-align: center;
    margin-top: 2rem;
  }
}
#resume header ul a {
  text-decoration: none;
  color: #fff;
}
#resume header ul a:hover {
  color: var(--primary);
  text-decoration: underline;
  fill: var(--primary);
}
#resume #profile, #resume #work {
  font-size: 1.2rem;
}
@media only screen and (max-width: 650px) {
  #resume #profile, #resume #work {
    padding: 0rem 2rem;
  }
}
#resume #profile section, #resume #work section {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}
@media only screen and (min-width: calc(650px - 1px)) {
  #resume #profile section:last-of-type, #resume #work section:last-of-type {
    margin-bottom: 0rem;
    border-bottom: 0rem;
  }
}
#resume #profile section:hover h3, #resume #work section:hover h3 {
  color: var(--primary);
  font-style: italic;
}
#resume #profile {
  width: calc(100% / 3 - 4rem);
  height: 100%;
}
@media only screen and (max-width: 650px) {
  #resume #profile {
    width: 100%;
  }
}
#resume #profile section:not(:last-of-type) {
  border-bottom: solid 0.1rem #000;
}
#resume #profile ul li:not(:last-of-type) {
  margin-bottom: 1rem;
}
#resume #work {
  border-left: solid 0.2rem #000;
  width: calc(100% / 3 * 2 - 4.2rem);
  height: 100%;
}
@media only screen and (max-width: 650px) {
  #resume #work {
    border: 0;
    width: 100%;
  }
}
#resume #experience {
  padding-bottom: 1rem !important;
}
#resume #experience > ul > li:not(:last-of-type) {
  margin-bottom: 2rem;
}
#resume #experience ul p {
  font-weight: 600;
  font-style: italic;
}
#resume #experience ul p span {
  color: #666;
  font-weight: normal;
  font-style: italic;
  font-size: 1.2rem;
}
#resume #experience ul ul {
  margin: 1rem 0 1rem 2rem;
}
#resume #experience ul ul li {
  list-style: disc;
}
#resume #skills ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#resume #skills ul li {
  width: calc(50% - 1rem);
  margin-bottom: 0.5rem;
}
@media only screen and (max-width: 450px) {
  #resume #skills ul li {
    width: calc(50% - 1rem);
  }
}
@media only screen and (max-width: 300px) {
  #resume #skills ul li {
    width: calc(100%);
    list-style-type: disc;
    margin-left: 1.4rem;
  }
}
#contactCard {
  max-width: 400px;
  font-family: var(--AnimalCrossingWW);
  font-size: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
}
#contactCard p {
  z-index: 20;
  position: relative;
}
#contactCard ul {
  z-index: 20;
  position: relative;
  margin-top: 2rem;
  margin: 2rem auto;
  max-width: 300px;
}
#contactCard ul li {
  margin-bottom: 2rem;
}
#contactCard ul li:last-of-type {
  margin-bottom: 0;
}
#contactCard ul li a {
  display: block;
  font-size: 2rem;
  border: solid 1px rgba(255, 255, 255, 0.5);
  border-radius: 2rem;
}
#contactCard ul li a:hover {
  border-color: var(--primary);
}

/* i love css */
