@import './reset.css';
@import './typography.css';
@import './animation.css';
@import './resume.css';
@import './contact.css';

html {
  background: #000 no-repeat center center fixed;
  background-image: url(../assets/images/textures/miasma01.gif), url(../assets/images/textures/miasma01.jpg);
  background-size: cover;

  &::after {
    /* cloud top */
    content: "";
    background: url(../assets/images/textures/60.png) no-repeat bottom center;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    opacity: 0;
    animation: anim-fadeInOut 150s infinite;
    animation-delay: 15s;
  }
}

#mainNav {
  position: absolute;
  top: 0;
  padding: 10px;

  ul {
    display: flex;
    flex-direction: row;

    li:not(:last-of-type) {
      margin-right: 20px;
    }
  }

  a {
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    text-shadow: -1px -1px 0 #000, 1px 1px 0 #000, -1px -1px 10px #000;
    &:hover {
      background: url(../assets/images/textures/noise.jpg);
      animation: 1s infinite anim-static;
      text-shadow: 0 0 10px var(--primary), 0 0 20px var(--primary);
      color: var(--primary) !important;
      text-decoration: none !important;
    }
    &:focus {
      color: #000;
      box-shadow: 0 5px 20px 0px #000;
    }
  }
}

#intro {
  width: calc(100% - 40px);
  text-align: center;
  height: calc(100vh - 40px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  margin: 20px;

  h1 {
    font-size: 120px;
    font-family: var(--lordish);
    color: #fff;
    margin-bottom: 20px;
    text-shadow: -1px 1px 5px #000, 1px 1px 10px #000;
  }

  h2, a {
    font-size: 25px;
    color: #fff;
    font-family: var(--animalCrossingWW);
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    line-height: 1;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, -1px -1px 10px #000;
  }
}

main {
  margin: 0 auto;
  padding: 40px;
  max-width: calc(800px - 80px);
  background: url(../assets/images/textures/noise.jpg);
  animation: 1s infinite anim-static;
  box-shadow: 0 5px 30px 20px #000;
  color: #fff;

  section {
    &:not(:last-of-type) {
      margin-bottom: 60px;
      padding-bottom: 60px;
      border-bottom: dotted 1px var(--primary);
    }
  }

  h2 {
    font-family: var(--jacquard);
    font-size: 40px;
    color: var(--primary);
    margin-bottom: 20px;
  }

  p {
    font-size: 18px;

    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }
}

#projects {

  >div {
    display: flex;
    justify-content: flex-end;

    a {
      margin-top: 20px;
      text-decoration: underline dotted var(--primary);
    }
  }

  p {
    line-height: normal;
  }

  ul {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px 20px;
  }
  a {
    color: var(--primary);
  }
  img {
    width: 100%;
    margin-bottom: 10px;
    z-index: 9;
    border-radius: 5px;

    &:hover {
      box-shadow: 0 0 20px 0px var(--primary);
      transform: scale(101%);
    }
  }

  h3 {
    font-size: 20px;
    color: var(--primary);
    margin-bottom: 10px;
  }
}

#acheivements {

  ul {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 30px 20px;
  }

    img {
    width: 100%;
    margin-bottom: 10px;
  }
}

#links {
  div {
    text-align: center;
  }

  img {
    margin-top: 20px;
  }
}

/* i love css */
