@font-face {
  font-family:'AnimalCrossingWW';
  src:url(../fonts/animal-crossing.woff) format("woff2"),url(./fonts/animal-crossing.woff) format("woff");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family: 'Lordish';
  src: url(../fonts/lordish-regular-webfont.woff2) format('woff2'),
    url(../fonts/lordish-regular-webfont.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Jacquard12';
  src: url(../fonts/jacquard12.woff2) format('woff2'),
    url(../fonts/jacquard12.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary: #00f428;
  --animalCrossingWW: "AnimalCrossingWW", "Open Sans", monospace;
  --lordish: "Lordish", "Open Sans", monospace;
  --jacquard: "Jacquard12", "Open Sans", monospace;
}

*::selection, *:focus {
  background: var(--primary);
  color: #000;
  text-shadow: none;
}
*:focus:hover {
  color: #000;
  -webkit-text-stroke: 1px #000;
}

a {
  color: var(--primary);
  text-decoration: underline dotted var(--primary);
}
a:hover {
  color: #00f !important;
  text-decoration: underline dotted #00f !important;
}
