#wedding {
  color: #fff;
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  background: #000;
  position: relative;
}
#wedding #intro {
  width: 100%;
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
#wedding h1 {
  font-family: var(--Lordish);
  font-size: 12rem;
}
#wedding h2, #wedding h3, #wedding p {
  font-family: "Spectral SC", serif;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
#wedding h3 {
  font-size: 5rem;
}

@media only screen and (max-width: 660px) {
  #wedding h1 {
    font-size: 7rem;
    margin-bottom: 2rem;
  }
  #wedding h2, #wedding p {
    font-size: 1.8rem;
  }
  #wedding h3 {
    font-size: 3.5rem;
  }
}
